In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data  = pd.read_csv('C:\\Users\\yunting\\Documents\\GitHub\\E.sun_conpetition\\data_set\\new\\train_address.csv')
test = pd.read_csv('C:\\Users\\yunting\\Documents\\GitHub\\E.sun_conpetition\\data_set\\new\\test_address.csv')
sub = pd.read_csv('C:\\Users\\yunting\\Documents\\GitHub\\E.sun_conpetition\\data_set\\initial\\submit_test.csv')

In [3]:
print("train資料集維度：", data.shape)
print("test資料集維度：", test.shape)
print("train資料集前十筆資料：")
data.head(10)

train資料集維度： (60000, 233)
test資料集維度： (10000, 232)
train資料集前十筆資料：

,building_id,building_material,txn_dt,total_floor,building_type,building_use,building_complete_dt,parking_way,parking_area,parking_price,...,XIV_500,XIV_index_500,XIV_1000,XIV_index_1000,XIV_5000,XIV_index_5000,XIV_10000,XIV_index_10000,XIV_MIN,total_price
0,e3mMIMR3JJqCaXz1,8,18674,4,3,2,6271,2,NaN,NaN,...,58,1,157,1,2483,1,6011,1,34.469803,6.476038e+05
1,LgwzgklNvy4QCtq5,8,18800,5,1,2,7885,2,NaN,NaN,...,28,1,115,1,15872,1,32221,1,40.073573,3.321452e+06
2,ucIR2NLLsC3T650L,8,19289,4,1,2,6028,2,NaN,NaN,...,78,1,212,1,15760,1,32228,1,54.462081,9.570885e+06
3,jre1pJhcQj91Kdky,8,20385,24,0,2,18325,0,NaN,81138.889760,...,20,1,125,1,2568,1,7271,1,99.628966,1.421501e+07
4,rQpYpY9nRG7X5mmr,1,20657,2,4,2,6880,2,NaN,NaN,...,18,1,47,1,2587,1,7442,1,124.131236,7.627120e+05
5,HmW2MkrwafmceWAH,8,18394,5,1,2,6576,2,NaN,NaN,...,58,1,314,1,2725,1,7417,1,61.109908,3.964520e+05
6,ITYyim3zx6DQyCoF,8,20474,15,0,2,16559,0,NaN,61488.568950,...,65,1,252,1,11515,1,26867,1,196.690224,8.510296e+06
7,KFrxqaWZaLynrOae,8,18185,8,3,2,11934,1,NaN,6721.823057,...,64,1,181,1,11456,1,19514,1,66.780308,1.678426e+06
8,ZiK0gY7A0BvwZ8OV,8,18794,5,1,2,7640,2,NaN,NaN,...,116,1,203,1,2666,1,7014,1,40.349486,9.870214e+05
9,QnytA7FbgaVxIDuP,8,19927,10,3,2,9863,0,NaN,61488.568950,...,118,1,288,1,12945,1,32664,1,102.955013,1.181540e+07

In [4]:
id = data['building_id']
train = data.iloc[:, 1:-1]
y = data['total_price']

In [5]:
test_id = test['building_id']
testX = test.iloc[:, 1:]

#### 二、資料清洗
1.缺失值處理

從原始資料中抓出有缺失值的欄位進行補齊

發現存在缺失值的欄位：
   - village_income_median(所在里年收入中位數)
   - parking_area(車位面積)
   - parking_price'(車位價格)
   - txn_floor(交易樓層)

In [6]:
train_columnslist = train.columns.tolist()
train_no_na = train.dropna()
train_no_na_col=train.dropna(axis=1).columns.tolist()
na_set=set(train_columnslist)-set(train_no_na_col)
train_list_na = train[list(na_set)]
train_list_na.describe()

       village_income_median  parking_area  parking_price     txn_floor
count           58858.000000   3103.000000   1.393500e+04  44098.000000
mean              674.840175      7.211837   5.025058e+04      5.389269
std               140.653083     20.453902   3.973488e+04      3.944618
min               411.000000      0.000000   0.000000e+00      1.000000
25%               583.000000      3.738412   2.827238e+04      3.000000
50%               642.000000      5.758023   4.379195e+04      4.000000
75%               729.000000      7.180619   6.148857e+04      7.000000
max              1851.000000    967.370868   1.020404e+06     28.000000

In [7]:
testX_columnslist = testX.columns.tolist()
testX_no_na = testX.dropna()
testX_no_na_col=testX.dropna(axis=1).columns.tolist()
na_set=set(testX_columnslist)-set(testX_no_na_col)
testX_list_na = testX[list(na_set)]
testX_list_na.describe()

       village_income_median  parking_area  parking_price    txn_floor
count            9816.000000    500.000000    2290.000000  7361.000000
mean              673.334760      6.645918   50600.021884     5.421682
std               139.364209      6.671072   38948.800177     3.954859
min               442.000000      0.000000       0.000000     1.000000
25%               582.000000      3.738412   28272.384430     3.000000
50%               641.000000      5.758023   43791.947140     4.000000
75%               728.000000      7.180619   61488.568950     7.000000
max              1851.000000    103.895538  326960.895400    27.000000

其中：
   - 所在里年收入中位數的缺失用所有樣本的中位數補齊
   - 車位面積缺失視為車位不存在，面積用0補齊
   - 車位價格缺失視為車位不存在，面積用0補齊
   - 交易樓層缺失視為整棟出售(透天厝)，樓層用0.5補齊

In [8]:
train["village_income_median"] = train["village_income_median"].fillna(train['village_income_median'].median())
train["parking_area"]=train["parking_area"].fillna(0)
train["parking_price"]=train["parking_price"].fillna(0)
train["txn_floor"]=train["txn_floor"].fillna(train["txn_floor"].mean())
train[["village_income_median","parking_area","parking_price","txn_floor"]].describe()

       village_income_median  parking_area  parking_price     txn_floor
count           60000.000000  60000.000000   6.000000e+04  60000.000000
mean              674.215117      0.372972   1.167070e+04      5.389269
std               139.380337      4.917360   2.858202e+04      3.381719
min               411.000000      0.000000   0.000000e+00      1.000000
25%               584.000000      0.000000   0.000000e+00      3.000000
50%               642.000000      0.000000   0.000000e+00      5.389269
75%               728.000000      0.000000   0.000000e+00      6.000000
max              1851.000000    967.370868   1.020404e+06     28.000000

In [9]:
testX["village_income_median"] = testX["village_income_median"].fillna(testX['village_income_median'].median())
testX["parking_area"]=testX["parking_area"].fillna(0)
testX["parking_price"]=testX["parking_price"].fillna(0)
testX["txn_floor"]=testX["txn_floor"].fillna(train["txn_floor"].mean())
testX[["village_income_median","parking_area","parking_price","txn_floor"]].describe()

       village_income_median  parking_area  parking_price     txn_floor
count           10000.000000  10000.000000   10000.000000  10000.000000
mean              672.739800      0.332296   11587.405011      5.413128
std               138.144348      2.078252   28273.278873      3.393091
min               442.000000      0.000000       0.000000      1.000000
25%               583.000000      0.000000       0.000000      3.000000
50%               641.000000      0.000000       0.000000      5.389269
75%               726.000000      0.000000       0.000000      6.000000
max              1851.000000    103.895538  326960.895400     27.000000

2.類別變數處理

由原始資料欄位可知有以下五種類別資料
    - building_material(建材)
    - building_type(建物型態)
    - parking_way(車位停放方式)
    - building_use(建物用途)
    - address(地址)：此為原始資料中的city, town, village合併的變數
    
先將前三者用one-hot-encoding處理，將dummy與train合併且丟棄原類別變數,令為X

In [10]:
train_list_dummy = ['building_material','building_type','parking_way']
dummies = []
for s in train_list_dummy:
    dummies.append(pd.get_dummies(train[s], prefix = s))
X = pd.concat([train]+dummies, axis = 1)
X = X.drop(columns = train_list_dummy, axis = 1)
print("資料總數：", X.shape[0])
print("資料特徵數：", X.shape[1])
print("顯示前十筆資料：")
X.head(10)

資料總數： 60000
資料特徵數： 245
顯示前十筆資料：

,txn_dt,total_floor,building_use,building_complete_dt,parking_area,parking_price,txn_floor,land_area,address,building_area,...,building_material_10,building_material_11,building_type_0,building_type_1,building_type_2,building_type_3,building_type_4,parking_way_0,parking_way_1,parking_way_2
0,18674,4,2,6271,0.0,0.000000,3.000000,18.144460,213343132,3.418175,...,0,0,0,0,0,1,0,0,0,1
1,18800,5,2,7885,0.0,0.000000,5.000000,11.387227,7180921,4.041309,...,0,0,0,1,0,0,0,0,0,1
2,19289,4,2,6028,0.0,0.000000,1.000000,21.426802,71801544,5.584279,...,0,0,0,1,0,0,0,0,0,1
3,20385,24,2,18325,0.0,81138.889760,13.000000,11.387227,213433350,13.563031,...,0,0,1,0,0,0,0,1,0,0
4,20657,2,2,6880,0.0,0.000000,5.389269,61.306524,2110263,4.688108,...,0,0,0,0,0,0,1,0,0,1
5,18394,5,2,6576,0.0,0.000000,4.000000,14.803422,2162950,3.623131,...,0,0,0,1,0,0,0,0,0,1
6,20474,15,2,16559,0.0,61488.568950,8.000000,11.387227,7841591,7.726227,...,0,0,1,0,0,0,0,1,0,0
7,18185,8,2,11934,0.0,6721.823057,4.000000,11.387227,12611331,7.974018,...,0,0,0,0,0,1,0,0,1,0
8,18794,5,2,7640,0.0,0.000000,1.000000,13.106100,21493077,4.041309,...,0,0,0,1,0,0,0,0,0,1
9,19927,10,2,9863,0.0,61488.568950,2.000000,11.387227,71802122,7.480303,...,0,0,0,0,0,1,0,1,0,0

In [11]:
testX_list_dummy = ['building_material','building_type','parking_way']
testX_dummies = []
for s in testX_list_dummy:
    testX_dummies.append(pd.get_dummies(testX[s], prefix = s))
testXX = pd.concat([testX]+testX_dummies, axis = 1)
testXX = testXX.drop(columns = testX_list_dummy, axis = 1)
print("資料總數：", testXX.shape[0])
print("資料特徵數：", testXX.shape[1])
print("顯示前十筆資料：")
testXX.head(10)

資料總數： 10000
資料特徵數： 244
顯示前十筆資料：

,txn_dt,total_floor,building_use,building_complete_dt,parking_area,parking_price,txn_floor,land_area,address,building_area,...,building_material_10,building_material_11,building_type_0,building_type_1,building_type_2,building_type_3,building_type_4,parking_way_0,parking_way_1,parking_way_2
0,18634,2,2,1857,0.0,0.00000,5.389269,40.317789,1366160,3.418175,...,0,0,0,0,0,0,1,0,0,1
1,20199,10,2,16011,0.0,0.00000,2.000000,18.144460,74843,7.726227,...,0,0,0,0,0,1,0,0,0,1
2,19769,4,10,18294,0.0,0.00000,5.389269,47.912742,1252645,12.170581,...,0,0,0,0,0,0,1,0,0,1
3,20479,19,0,17837,0.0,0.00000,16.000000,2.222000,7204461,2.252256,...,1,0,0,0,1,0,0,0,0,1
4,18164,13,2,13272,0.0,0.00000,3.000000,11.387227,31692390,5.813985,...,0,0,1,0,0,0,0,0,0,1
5,18632,4,2,15464,0.0,0.00000,5.389269,37.242047,12216556,11.623768,...,0,0,0,0,0,0,1,0,0,1
6,19144,14,2,16590,0.0,61488.56895,11.000000,13.106100,710237,8.475077,...,0,0,1,0,0,0,0,1,0,0
7,19452,5,2,7124,0.0,0.00000,3.000000,14.803422,131482924,3.830869,...,0,0,0,1,0,0,0,0,0,1
8,19045,2,2,12634,0.0,0.00000,5.389269,64.242549,171441712,10.283420,...,0,0,0,0,0,0,1,0,0,1
9,19220,13,10,17351,0.0,0.00000,10.000000,4.181031,7132783,2.438421,...,0,0,0,0,1,0,0,0,0,1

In [12]:
clean_merge_data = pd.concat([X, testXX],axis=0)
clean_train = clean_merge_data.iloc[:60000, :]
clean_test = clean_merge_data.iloc[60000:, :]
clean_test.fillna(0, inplace = True)
merge_traintest = pd.concat([clean_train, clean_test], axis = 0)
merge_traintest.dropna(axis = 1, inplace = True)
ready_train = merge_traintest.iloc[:60000, :]
ready_test = merge_traintest.iloc[60000:, :]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

#### 三、模型建立

In [13]:
from sklearn.cluster import KMeans

In [14]:
clust = pd.concat([ready_train['address'], ready_train['building_use']],axis=1)
ks = KMeans(n_clusters = 7).fit(clust)
labels = pd.DataFrame((ks.labels_).tolist())

In [15]:
#testXX labels
test_clust = pd.concat([ready_test['address'], ready_test['building_use']],axis=1)
test_labels = ks.predict(test_clust)
test_labels = pd.DataFrame(test_labels.tolist())

In [16]:
X_addlabels = pd.concat([ready_train, labels, y],axis=1)
X_addlabels.head()

,III_10,III_100,III_1000,III_10000,III_250,III_50,III_500,III_5000,III_MIN,III_index_1000,...,parking_way_2,total_floor,town_area,town_population,town_population_density,txn_dt,txn_floor,village_income_median,0,total_price
0,0,3,91,3728,17,1,37,1861,42.635964,1,...,1,4,1.4161,24219,17103,18674,3.000000,572.0,3,6.476038e+05
1,1,1,29,7380,4,1,11,2512,7.157464,1,...,1,5,23.1373,551480,23835,18800,5.000000,550.0,1,3.321452e+06
2,0,1,235,7971,17,0,73,2695,86.589412,1,...,1,4,23.1373,551480,23835,19289,1.000000,625.0,2,9.570885e+06
3,0,1,50,3904,3,1,5,2157,45.508654,1,...,0,24,14.7523,139259,9440,20385,13.000000,950.0,3,1.421501e+07
4,0,0,1,1449,0,0,0,134,546.047664,1,...,1,2,71.0400,112397,1582,20657,5.389269,536.0,1,7.627120e+05

In [17]:
#test id & label concat
test_addlabels = pd.concat([ready_test,test['building_id'], test_labels],axis=1)
test_addlabels.head()

,III_10,III_100,III_1000,III_10000,III_250,III_50,III_500,III_5000,III_MIN,III_index_1000,...,parking_way_2,total_floor,town_area,town_population,town_population_density,txn_dt,txn_floor,village_income_median,building_id,0
0,0,2,57,5422,6,0,15,1277,56.238977,1,...,1,2,21.8424,122155,5593,18634,5.389269,714.0,X5gsdTWGS3W7JJQB,1
1,0,1,7,1366,1,0,1,292,55.204531,1,...,1,10,191.4508,114926,600,20199,2.000000,583.0,BTshNOJyKHnT2YIT,1
2,0,0,41,4480,0,0,0,1204,572.904189,1,...,1,4,62.7034,274819,4383,19769,5.389269,641.0,dhdymr0lV8N5kZOT,1
3,0,9,276,10687,25,3,94,4540,47.064014,1,...,1,19,5.7138,222585,38956,20479,16.000000,653.0,VEwyGGMcD56w5BOc,1
4,0,0,30,808,9,0,15,504,130.624446,1,...,1,13,22.8283,38708,1696,18164,3.000000,624.0,wmUeMoJZfsqaSX9b,6

資料分群結果如下

In [18]:
labels

       0
0      3
1      1
2      2
3      3
4      1
5      1
6      1
7      6
8      6
9      2
10     1
11     3
12     1
13     2
14     2
15     5
16     2
17     2
18     2
19     2
20     1
21     6
22     3
23     1
24     6
25     1
26     0
27     6
28     6
29     2
...   ..
59970  1
59971  1
59972  2
59973  2
59974  6
59975  1
59976  0
59977  1
59978  4
59979  0
59980  1
59981  1
59982  2
59983  1
59984  3
59985  1
59986  0
59987  0
59988  1
59989  6
59990  1
59991  2
59992  3
59993  1
59994  2
59995  2
59996  6
59997  2
59998  6
59999  2

[60000 rows x 1 columns]

In [19]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import SGD
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, train_test_split
from sklearn import  preprocessing , metrics 
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor ,ExtraTreesRegressor
from xgboost import XGBRFRegressor 
import xgboost as xgb
from sklearn import svm
from sklearn.feature_selection import SelectFromModel
import lightgbm as lgb

Using TensorFlow backend.

In [20]:
import keras.backend as K
def r2(y_true, y_pred):
    a = K.square(y_pred - y_true)
    b = K.sum(a)
    c = K.mean(y_true)
    d = K.square(y_true - c)
    e = K.sum(d)
    f = 1 - b/e
    return f

In [22]:
def ANN(train_X , test_X , train_y, test_y, Xtest_group_de):
    model = Sequential()
    model.add(Dense(64, activation='relu', input_dim = n))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(1))
    model.compile(loss='mse', optimizer='adam', metrics=['mae',r2])
    history = model.fit(train_X, train_y, batch_size=10, epochs=200, verbose=0)

    pred_test_y = model.predict(test_X)
    global pred_test_acc
    pred_test_acc = r2_score(test_y, pred_test_y)
    
    pred_train_y = model.predict(train_X)
    global pred_train_acc 
    pred_train_acc = r2_score(train_y, pred_train_y)
    
    global pred_pred_y
    pred_pred_y = model.predict(Xtest_group_de)

    return pred_test_acc, pred_train_acc, pred_pred_y

In [25]:
def model(number):
    
    group_bool = X_addlabels[0] == number
    group = X_addlabels[group_bool]
    print('原維度:', group.shape)
    Xgroup = group.iloc[:, :-2]
    ygroup = group.iloc[:, -1]
    
    test_group_bool = test_addlabels[0] == number
    test_group = test_addlabels[test_group_bool]
    print('測試集維度：', test_group.shape)
    Xtest_group = test_group.iloc[:, :-2]
    
    '''feature select'''
    forest = RandomForestRegressor(n_estimators=400,n_jobs=-1)
    forest_reg = forest.fit(Xgroup, ygroup)
    model_select = SelectFromModel(forest_reg, prefit=True)
    X_forest = model_select.transform(Xgroup)
    X_forest = Xgroup[Xgroup.columns[model_select.get_support()]]
    input_dim = X_forest.shape
    global n 
    n = input_dim[1]
    print('特徵選取後維度:', X_forest.shape)
    
    Xtest_group_de = pd.DataFrame(model_select.transform(Xtest_group))
    print('測試集特徵選取後維度：', Xtest_group_de.shape)
    
    
    '''CV'''
    train_X , test_X , train_y, test_y = train_test_split (X_forest, ygroup, test_size = 0.3)
    
    '''使用模型如下'''
    extree = ExtraTreesRegressor(n_estimators=200,n_jobs=-1)
    gbm = lgb.LGBMRegressor(objective='regression',num_leaves=31,learning_rate=0.05,n_estimators=20)
    #xgbreg = xgb.XGBRegressor(n_estimators=400,subsample=0.88,max_depth=3,colsample_bytree=0.88, min_child_weight=2,reg_alpha=0.01,objective='reg:squarederror')
    svmreg = svm.SVR()
    
    ### extree ###
    extree_model = extree.fit(train_X, train_y)
    extree_model.score(train_X, train_y)
    extree_model.score(test_X, test_y)
    
    extree_Xtest_group_pre = extree_model.predict(Xtest_group_de)
    
    ### lightgbm ###
    gbm_model = gbm.fit(train_X, train_y)
    gbm_model.score(train_X, train_y)
    gbm_model.score(test_X, test_y)
    
    gbm_Xtest_group_pre = gbm_model.predict(Xtest_group_de)
    
    ### xgboost ###
    #xgbreg_model = xgbreg.fit(train_X, train_y)
    #xgbreg_model.score(train_X, train_y)
    #xgbreg_model.score(test_X, test_y)
    #Xtest_group_de_forxgb = np.array(Xtest_group_de)
    #xgbreg_Xtest_group_pre = xgbreg_model.predict(Xtest_group_de_forxgb)
    
    ### svm regression ###
    svmreg_model = svmreg.fit(train_X, train_y)
    svmreg_model.score(train_X, train_y)
    svmreg_model.score(test_X, test_y)
    
    svmreg_Xtest_group_pre = svmreg_model.predict(Xtest_group_de)
    
    ### ANN ###
    ANN(train_X , test_X , train_y, test_y, Xtest_group_de)
    
    '''保留最適模型'''
    dict1 = {'extree_model':extree_model.score(test_X, test_y), 'gbmreg_model':gbm_model.score(test_X, test_y), 'svmreg_model':svmreg_model.score(test_X, test_y), 'ann_model':pred_test_acc}
    dict2 = {extree_model.score(test_X, test_y):['extree_model', extree_model.score(train_X, train_y), extree_Xtest_group_pre],
             gbm_model.score(test_X, test_y):['gbmreg_model', gbm_model.score(train_X, train_y), gbm_Xtest_group_pre],
             #xgbreg_model.score(test_X, test_y):['xgbreg_model', xgbreg_model.score(train_X, train_y), xgbreg_Xtest_group_pre],
             svmreg_model.score(test_X, test_y):['svmreg_model', svmreg_model.score(train_X, train_y), svmreg_Xtest_group_pre],
             pred_test_acc:['ann_model', pred_train_acc, pred_pred_y]}

    best_value = max(dict1.values())
    best_key = dict2[best_value][0]
    print('最適模型為：', best_key)
    print('訓練集評分:', dict2[best_value][1])
    print('交叉驗證集評分:', best_value)
    
    '''group預測輸出'''
    group_pre = pd.DataFrame(dict2[best_value][2])
    group_id = pd.DataFrame(test_group['building_id'])
    group_id.reset_index(inplace = True)
    test_sub = pd.concat([group_id, group_pre], axis = 1)
    
    return (test_sub)

In [26]:
model(6)

原維度: (15898, 247)
測試集維度： (2649, 247)
特徵選取後維度: (15898, 28)
測試集特徵選取後維度： (2649, 28)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
WARNING: Logging before flag parsing goes to stderr.
W0802 15:00:30.499173  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0802 15:00:30.538661  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0802 15:00:30.547639  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0802 15:00:30.605523  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0802 15:00:30.731769  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0802 15:00:30.811561  9876 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

最適模型為： extree_model
訓練集評分: 0.9985463963099265
交叉驗證集評分: 0.9582892610151842

      index       building_id             0
0         4  wmUeMoJZfsqaSX9b  1.542135e+06
1         5  EtBjGAHmHCe9t7TZ  3.631544e+06
2        17  L10dBBdqGmemweSl  5.325765e+06
3        19  StiWNN1GQrpPBOYt  2.568022e+06
4        25  a7fxkXTnUGWHUmKG  2.211696e+07
5        27  JPWqZbLq0VNC0yKI  1.225545e+07
6        31  zsFOujpX1WUIkeMD  1.914247e+06
7        34  YLKpsew5dW75vksT  6.715219e+06
8        36  uAE5aaysJhyG8lRW  1.235633e+07
9        39  yn4pyBYVb1GcpQ1T  4.324927e+06
10       42  YV43AlJLyiYsBy7N  9.951901e+06
11       46  SJLj6Ars5P1fN8uS  1.623996e+07
12       47  R9A8BJ65VWVztrwJ  2.159878e+07
13       49  vvgK6NlGq4dXvuOQ  5.176170e+06
14       50  C1h2FivTfEeJpv15  3.640032e+07
15       54  vAl9UtIB6CJkKDqG  9.778809e+06
16       55  hnYkYGw5QAKE4mKe  7.621472e+05
17       56  dGDaCQGvz1JFUpFs  7.011736e+06
18       57  O5Hw3gWy8trecv9H  2.664861e+07
19       59  rcPOpyDivowJQm5A  2.800588e+06
20       64  VvwRRzQcDprObjXd  1.741270e+07
21       67  R3LK3b1cYHJDoS7T  1.979786e+06
22       73  U7whXhR0NtRb2VTK  4.518828e+06
23       82  S9TXbscnO5DoawSU  2.657437e+06
24       92  iwJrgniIhfPTCTmt  4.940915e+06
25       96  XCs3JK6zTfApKRQq  7.996131e+06
26      100  ObAaFE67g31BlRpo  3.476853e+06
27      101  uX03fWvPUQI1k24X  2.111585e+07
28      108  qQsKdbjFMUCiKncB  3.357702e+07
29      109  VGsTcb8wMZWT5UjC  3.209630e+06
...     ...               ...           ...
2619   9885  aeOc85GleJ0fOy6R  3.124402e+06
2620   9889  JdEfsu8vJoEByrd5  1.265288e+06
2621   9892  ErxeROWYaEwK5Qlq  1.323720e+07
2622   9896  F0SBML7JwuK0J6qw  9.107435e+05
2623   9898  mhx9AqbXiM1UDeRR  1.278898e+06
2624   9899  VWZy0whCjDjguKR8  1.624301e+07
2625   9903  C0gHoEeCqMWkFHQq  6.521007e+06
2626   9904  OHs5P1EfaQr7CuG5  4.483852e+07
2627   9913  Eik9BjECHArNPVxN  3.531430e+07
2628   9917  cZ0dHC64ZyTrY2dc  3.914455e+06
2629   9919  Vkub9Im79QETqbIv  4.660131e+06
2630   9923  kAuR3PK8ZFJHgvNm  2.125785e+07
2631   9926  VKc49zd4ScwOiixD  1.371791e+06
2632   9932  hYaHLZOdsFewVydM  5.207115e+06
2633   9937  z6CWOqM6aB6rPCH4  1.125279e+07
2634   9947  pPHPGvOyGCjeaUCF  6.543430e+06
2635   9949  DxC9jH6h8RQuhNWK  7.904885e+07
2636   9955  Uk579FiSmvKFaM5Z  1.728040e+06
2637   9959  pNbRfT5gPN1QjVxz  1.124773e+06
2638   9961  jNIZa7d7xJReFLLq  5.002117e+06
2639   9963  O178KwFiK6LdyHv6  1.774887e+06
2640   9967  jZ6AbJ9YzcnREH5h  2.236494e+07
2641   9969  sOtYGCNq3pz9w7PI  6.517493e+06
2642   9972  P1j8YRbxDAovumaI  1.483813e+07
2643   9973  IxcBhEoFLcrI9TPr  2.787965e+06
2644   9978  u7NKZfWoMUlZy9rJ  9.615772e+06
2645   9990  TXHk3oUpVsm5Cmag  2.706188e+06
2646   9991  JtgDm9aQcGE9zELB  5.072917e+05
2647   9992  wTQmcqbN0OCuSF1t  1.310992e+07
2648   9995  UEeCDaAJzPwdKKKA  1.222372e+06

[2649 rows x 3 columns]

In [27]:
outcome = pd.DataFrame()
for group in range(7):
    print('group'+str(group))
    outcome = outcome.append(model(group))
    print('---------------------------------'+str(group)+'---------------------------------')

group0
原維度: (7992, 247)
測試集維度： (1321, 247)
特徵選取後維度: (7992, 13)
測試集特徵選取後維度： (1321, 13)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： extree_model
訓練集評分: 0.9995179652214439
交叉驗證集評分: 0.88780768991024
---------------------------------0---------------------------------
group1
原維度: (18065, 247)
測試集維度： (3043, 247)
特徵選取後維度: (18065, 23)
測試集特徵選取後維度： (3043, 23)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： extree_model
訓練集評分: 0.9999999987401945
交叉驗證集評分: 0.765451528198615
---------------------------------1---------------------------------
group2
原維度: (10285, 247)
測試集維度： (1687, 247)
特徵選取後維度: (10285, 33)
測試集特徵選取後維度： (1687, 33)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： extree_model
訓練集評分: 0.9990269535453952
交叉驗證集評分: 0.9074970226949926
---------------------------------2---------------------------------
group3
原維度: (4257, 247)
測試集維度： (727, 247)
特徵選取後維度: (4257, 3)
測試集特徵選取後維度： (727, 3)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： extree_model
訓練集評分: 0.9999100196390477
交叉驗證集評分: 0.8848208571473797
---------------------------------3---------------------------------
group4
原維度: (2796, 247)
測試集維度： (450, 247)
特徵選取後維度: (2796, 6)
測試集特徵選取後維度： (450, 6)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： ann_model
訓練集評分: 0.8549161775431063
交叉驗證集評分: 0.9229377107986065
---------------------------------4---------------------------------
group5
原維度: (707, 247)
測試集維度： (123, 247)
特徵選取後維度: (707, 23)
測試集特徵選取後維度： (123, 23)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： extree_model
訓練集評分: 1.0
交叉驗證集評分: 0.8341805455483913
---------------------------------5---------------------------------
group6
原維度: (15898, 247)
測試集維度： (2649, 247)
特徵選取後維度: (15898, 29)
測試集特徵選取後維度： (2649, 29)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

最適模型為： gbmreg_model
訓練集評分: 0.5022670475873738
交叉驗證集評分: 0.7808445546997855
---------------------------------6---------------------------------

各group預測結果合併

In [28]:
outcome['total_price'] = outcome[0]

In [32]:
submit = outcome.drop(columns = [0])
submit

      index       building_id   total_price
0         7  wXjeI38bYDMJJwZC  6.674808e+06
1        14  jykBfhh3vdeFUi3H  3.456922e+06
2        20  a016eMAVQKnfwMnt  1.711010e+07
3        23  EgAVWOVxD1Jy5YkE  1.200242e+06
4        30  Eg8c7ZRbL0gyAEAb  1.991620e+06
5        48  CVz3pN9nF05lPP5u  1.450310e+06
6        58  tMEj7u0YNW1xuLxf  8.770711e+05
7        65  j1eSrtTGv0lNjzBU  4.289343e+07
8        69  iFtImxGUUlXbkD9b  1.099853e+07
9        74  VP1NDCBMrjip2Bnd  8.236010e+06
10       75  SOZVhFbbbVloA5qP  6.052549e+05
11       78  olfnSSZRvyQuIxaI  3.154118e+07
12       85  LPJuTqqcd2bQpaQk  1.931583e+07
13       87  PIo9FQYkpDvE32Cw  8.438491e+06
14       89  GVWNfdARZFl4J5Wx  3.286359e+06
15      119  HCvpwrAaIz1gj9vB  6.529810e+06
16      120  uxdQDOZMTkgMXF87  1.435899e+07
17      122  IkZq7qHsY3vSSwcR  1.571793e+06
18      124  QNiCWRVsm0DOcqkc  5.288418e+06
19      137  cnK6gMaFxsDO9UyT  1.929095e+06
20      140  Xsn2nvFborqzWEDy  1.245654e+06
21      149  q7uATN6vpk4oQd7Z  2.308737e+06
22      152  xBjTFMnuysBHgGwy  2.172808e+06
23      159  am6VBxbgo9B6nEi2  1.618309e+07
24      163  APeCKSkTyUA17R6k  1.199999e+06
25      187  agBX2FCIatw2gl6F  2.802031e+06
26      192  EIxpX2lay3NyyhmD  2.144961e+07
27      194  JaefG5EBsZ0SYwxl  5.234211e+06
28      206  PBG6hOt5APgz8rp8  3.476196e+07
29      209  fv5UlMh1Z79JpWia  9.887654e+05
...     ...               ...           ...
2619   9885  aeOc85GleJ0fOy6R  9.874150e+06
2620   9889  JdEfsu8vJoEByrd5  7.805312e+06
2621   9892  ErxeROWYaEwK5Qlq  1.484916e+07
2622   9896  F0SBML7JwuK0J6qw  7.805312e+06
2623   9898  mhx9AqbXiM1UDeRR  7.805312e+06
2624   9899  VWZy0whCjDjguKR8  1.518331e+07
2625   9903  C0gHoEeCqMWkFHQq  1.300197e+07
2626   9904  OHs5P1EfaQr7CuG5  3.989924e+07
2627   9913  Eik9BjECHArNPVxN  3.241447e+07
2628   9917  cZ0dHC64ZyTrY2dc  8.016559e+06
2629   9919  Vkub9Im79QETqbIv  9.839891e+06
2630   9923  kAuR3PK8ZFJHgvNm  1.433438e+07
2631   9926  VKc49zd4ScwOiixD  9.874150e+06
2632   9932  hYaHLZOdsFewVydM  8.632785e+06
2633   9937  z6CWOqM6aB6rPCH4  1.429438e+07
2634   9947  pPHPGvOyGCjeaUCF  1.300197e+07
2635   9949  DxC9jH6h8RQuhNWK  4.815800e+07
2636   9955  Uk579FiSmvKFaM5Z  8.036385e+06
2637   9959  pNbRfT5gPN1QjVxz  7.805312e+06
2638   9961  jNIZa7d7xJReFLLq  1.052004e+07
2639   9963  O178KwFiK6LdyHv6  7.805312e+06
2640   9967  jZ6AbJ9YzcnREH5h  1.625954e+07
2641   9969  sOtYGCNq3pz9w7PI  9.092879e+06
2642   9972  P1j8YRbxDAovumaI  1.314481e+07
2643   9973  IxcBhEoFLcrI9TPr  8.522316e+06
2644   9978  u7NKZfWoMUlZy9rJ  1.080104e+07
2645   9990  TXHk3oUpVsm5Cmag  7.891382e+06
2646   9991  JtgDm9aQcGE9zELB  7.805312e+06
2647   9992  wTQmcqbN0OCuSF1t  1.429438e+07
2648   9995  UEeCDaAJzPwdKKKA  7.805312e+06

[10000 rows x 3 columns]